<script type="text/javascript" src='/js/jquery.min.js'></script>
<script type="text/javascript" src='/js/jquery-ui.min.js'></script>
<script type="text/javascript" src='/js/bootstrap.min.js'></script>
<script type="text/javascript" src='/js/jquery.tagsinput.min.js'></script>
<script type="text/javascript" src='/js/jquery.scrollUp.min.js'></script>
<script type="text/javascript" src='/js/app.js'></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script>
    $(function () {
        $.scrollUp({
            animation: 'fade',
            scrollImg: {
                active: true,
                type: 'background'
            }
        });
        $('.carousel').carousel();

        var fieldopts = [
            {field: "tags", option: {defaultText: '{% i18n HintEnterTags %}'}},
            {field: "relusers", option: {
                    defaultText: '{% i18n HintEnterRelationClient %}',
                    autocomplete: {selectFirst: true, autoFill: true},
                    autocomplete_url:'/users/client/select/user'
                    
                }
            }
        ];
        AppTagsInput(fieldopts);


    });
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
<!--<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25468002-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->

{% block foot %}{% endblock %}
