<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">{% i18n Navigation %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{% i18n Navtitle %}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{% if (isActive('/articles')) %}active{% endif %}">
          <a href="/articles" title="{% i18n Articles %}">{% i18n Articles %}</a>
        </li>
        <li class="{% if (isActive('/breaks')) %}active{% endif %}">
          <a href="/breaks" title="{% i18n BreakNotify %}">{% i18n BreakNotify %}</a>
        </li>
<!--        <li class="{% if (isActive('/articles/new')) %}active{% endif %}">
          <a href="/articles/new" title="{% i18n NewArticle %}">{% i18n New %}</a>
        </li>-->

        {% if (req.isAuthenticated()) %}
          <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
            <a href="{{ '/users/' + req.user.id }}" title="{% i18n Profile %}">{% i18n Profile %}</a>
          </li>
        {% endif %}
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
       {% if (req.isAuthenticated()) %}
          <li >
            <a href="/logout" title="{% i18n Logout %}">{% i18n Logout %}</a>
          </li>
        {% else %}
          <li class="{% if (isActive('/login')) %}active{% endif %}">
            <a href="/login" title="{% i18n Login %}">{% i18n Login %}</a>
          </li>
        {% endif %}
      </ul>
        <form action="/search" class="navbar-form navbar-right" >
          <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
