{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
  
  <a class="btn btn-default" href="/articles/new" title="{% i18n NewArticle %}">{% i18n New %}</a>
{% endblock %}

{% block content %}
  {% if (articles.length) %}
    {% for article in articles %}
      {% include 'article.html' %}
    {% endfor %}

    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      {% i18n NoArticles %}.&nbsp;
      <a href="/articles/new">{% i18n CreateOne %}</a>
    </h4>
  {% endif %}
{% endblock %}
