<div class="row row-grid">
    <div class="col-md-12">

        <h3>
            <a href="{{ '/breaks/' + breaknotify._id }}" title="{{ breaknotify.title }}">
                {{ breaknotify.title }}
            </a>
            
                {% if (breaknotify.state === '-1') %}
                    <span class="label label-default">
                        {% i18n DonotStart %}
                    </span>
                {% endif %}
                {% if (breaknotify.state === '0') %}
                    <span class="label label-warning">
                        {% i18n Running %}
                    </span>
                {% endif %}
                {% if (breaknotify.state === '1') %}
                    <span class="label label-success">
                        {% i18n Finished %}
                    </span>
                {% endif %}
            
        </h3>
       
        <div class="row row-grid"> 
            <div class="col-xs-8  col-md-2">
                <div class="grid-center" >{% i18n Starttime %}</div>
                <div class="grid-center" >{{ breaknotify.starttime.toISOString()|date('Y-M-d h:m') }}</div>

            </div>
            <div class="col-xs-8  col-md-2">
                <div class="grid-center" >{% i18n Runtime %}</div>
                <div class="grid-center" >{{ breaknotify.runtime }}</div>

            </div>
            <div class="col-xs-8  col-sm-2">
                <div class="grid-center" >{% i18n Breaktime %}</div>
                <div class="grid-center" >{{ breaknotify.breaktime }}</div>

            </div>
            <div class="col-xs-8  col-sm-2">
                <div class="grid-center" >{% i18n Comment %}</div>
                <div class="grid-center" >{{ breaknotify.comment }}</div>

            </div>
            <div class="col-xs-8  col-sm-2">
                <div class="grid-center" >{% i18n RelationClient %}</div>
                {% if (breaknotify.relusers) %}

                {% for reluser in breaknotify.relusers.split(',') %}
                <div class="grid-center" ><i class="muted fa fa-tag"></i>&nbsp;
                <a href="{{ '/users/client/' + reluser }}" class="tag">{{ reluser }}</a>
                &nbsp;&nbsp;
                </div>
                {% endfor %}
                {% endif %}


            </div>
            <div class="col-xs-8  col-sm-2">
                <div class="grid-center" >{% i18n CreateTime %}</div>
                <div class="grid-center" >{{ breaknotify.createdAt.toISOString()|date('Y-M-d h:m') }}</div>

            </div>
            
        </div>
    </div>
</div>