
  <tr class="odd gradeX">
        <td class="center">
            <a href="{{ '/breaks/' + breaknotify._id }}" title="{{ breaknotify.title }}">
                {{ breaknotify.title }}
            </a>
        </td>
        <td class="center">
         {{ breaknotify.runtime }}
        </td>
        <td class="center">{{ breaknotify.breaktime }}</td>
        <td class="center">{{ breaknotify.comment }}</td>
        <td class="center">{{ breaknotify.createdAt.toISOString()|date('M d, Y  h:m a') }}</td>
        <td class="center">{{ breaknotify.state }}</td>
        <td class="center">
          {% if (breaknotify.relusers) %}
    
            {% for reluser in breaknotify.relusers.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/users/' + reluser }}" class="tag">{{ reluser }}</a>
              &nbsp;&nbsp;
            {% endfor %}
          {% endif %}
        </td>
  </tr>

