{% extends '../layouts/default.html' %}

{% block main %}
  
  <a class="btn btn-default pull-right" href="/breaks/new" title="{% i18n NewBreaks %}">{% i18n New %}</a>
  <h1>{{ title }}</h1>

{% endblock %}

{% block content %}
  {% if (breaks.length) %}
  <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover datatable">
            <thead>
                <tr>
                    <th>{% i18n Title %}</th>
                    <th>{% i18n Runtime %}</th>
                    <th>{% i18n Breaktime %}</th>
                    <th>{% i18n Comments %}</th>
                    <th>{% i18n RelationClient %}</th>
                    <th>{% i18n State %}</th>
                </tr>
            </thead>
            <tbody>
    {% for breaknotify in breaks %}
      {% include 'breaknotify.html' %}
    {% endfor %}
            </tbody>
        </table>
  </div>
    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}

  {% endif %}
{% endblock %}
