{% extends '../layouts/default.html' %}

{% block main %}
  
  <a class="btn btn-default pull-right" href="/breaks/new" title="{% i18n NewBreaks %}">{% i18n New %}</a>
  <h1>{{ title }}</h1>

{% endblock %}

{% block content %}
  {% if (breaks.length) %}
    {% for breaknotify in breaks %}
      {% include 'breaknotify.html' %}
    {% endfor %}
    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}

  {% endif %}
{% endblock %}
